.footer{
    background-color: #2F319E;
}
.footer-container{
    display: flex;
    padding-top: 68px;
    padding-bottom: 60px;
}
.footer-box1{
    width: 33.333%;
    color: #FFFFF9
}
.footer-box1-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.footer-box1-content{
    display: block;
    padding: 20px 4px;
    font-size: 16px;
    font-weight: 600;
}
.footer-box1-content span{
    margin-left: 5px;
} 
.footer-box1-content i{
    font-size: 14px;
}
.footer-box1-logo{
    position: relative;
}
.footer-box1-logo__tiger{
    width: 311px;
    height: 95px;
}
.footer-box1-Hanoiaptech{
    position: absolute;
    left: 9px;
    top: 7px;
    display: flex;
}
.footer-box1-Hanoiaptech__img{
    width: 53px;
    height: 51px;
    border: 1px solid #333;
    outline: 2px solid;
}

.footer-box1-name__link{
    color: #FFFF;
    font-size: 19px;
    text-decoration: none;
    margin-left: 7px;
    text-shadow: 1px 0 4px black;
}
.footer-box1-name__link:hover{
    color: #FFFF;
    text-decoration: underline;
}
.footer-box1-name__like{
    display: block;
    color: #FFFF;
    font-size: 14px;
    text-decoration: none;
    margin-left: 7px;
    text-shadow: 1px 0 4px black;
}
.footer-box2{
    width: 33.333%;
}
.footer-box2-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #FFF;
}

.footer-box2-content{
    display: block;
    padding: 20px 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    line-height: 26px;
}

.footer-box3{
    width: 33.333%;
}
.footer-box3-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #FFF;
    margin-left: 53px;
}
.section2{
    display: block;
    width: 439px;
    height: 39px;
    border: none;
    outline: none;
    padding: 0 18px;
    margin-left: 52px;
    background-color: #EDEDED;
    color: #333333;
    font-size: 17px;
    border-radius: 2px;
    margin: 19px 53px;
}
.footer-box3-wrapper input{
    width: 100%;
}
.footer-box3-btn__link{
    text-decoration: none;
}
.inputfooter{
    width: 100%;
}

.test{
    height: 1000px;


}

.footer-box3-btn__link button{
    display: block;
    width: 439px;
    height: 46px;
    border: none;
    outline: none;
    padding: 0 18px;
    margin-left: 52px;
    background-color: #EDEDED;
    font-size: 17px;
    border-radius: 5px;
    margin: 19px 53px;
    background-color: #EDB017;
    margin-top: 46px;
    margin-bottom: 72px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.footer-box3-btn__link button:hover{
    background-color: #008FCA;
    color: #FFFFFF;
}