/* Css for all */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.remove-bor-bot{
    border-bottom: none !important;
}


/* CSS for header */
.header {
    box-shadow: none !important;
}

/* .content-left */
.content-wrapper .content-left {
    margin-left: 113px;
    float: left;
    position: relative;
    width: 55%;
}

.content-left .col-inner{
    padding: 0 30px 15px;
}

.content-left .time-location {

   color: #000;
}

/* .content-left .first-paragrahp {
    padding: 10px;
} */

#one-para .first-paragraph-header {
    padding-bottom: 14px;
    height: 30px;
    font-family: Arial, Sans-serif;
    color: #000;
    font-size: 19px;
    line-height: 1.9;
    text-align: center; 
    font-weight: bolder;

}


.content-left .col-inner .p1-content,
.second-paragraph .second-paragraph-li {
    text-align: justify;
    line-height: 2;
}

.content_Area {
    text-align: justify;
}

.second-paragraph .second-paragraph-header ,
.third-paragraph .third-paragraph-header{
    color: #0B249E ;
    font-family: "Arial", Sans-serif;
    line-height: 3.3em;
    font-weight: bold;

}

.third-paragraph li {
    line-height: 1.9;
}

.nine-para-list li {
    line-height: 1.5;

}
.content-left .col-inner .second-paragraph
{
    padding: 7px 0;
}
ul.date-category {
    height: 40px;
    width: 100%;
    display: flex;
    float: left;
    list-style: none;
    margin: 20px 0 40px;
    padding: 0;
    border-bottom: 1px solid rgba(184, 165, 165, 0.596);
}

.likeshare-wrapper {
    clear: both;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1 solid rgba(rgba(168, 153, 153, 0.39), green, blue, alpha);
    outline: none;
    transition: 0.4s;
  }
  
  
.active, .accordion:hover {
    background-color: rgb(255, 255, 255);
  }
  
 
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
.move-link{
    margin-top: 30px;
    display: flex;
    float: left;
    
}
.move-post-wrapper .move-link .previous-link{
    margin-right: 335px;
}
.move-post-wrapper .previous-link,
.move-post-wrapper .next-link {
    width: 200px;
    height: 100px;
}
.other-container{
    clear: both;
}
.other-container .other-heading {
    color: #000 ;
    font-family: "Arial", Sans-serif;
    line-height: 1.3em;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.other-container .other-container-wrapper {
    display: flex;
    float: left;
}

.first-other-time {
    font-size: 13px;
}
.other-container .first-other,
.other-container .second-other,
.other-container .third-other{
    width: 245px;
    height: 234px;
    text-align: center;
    
}

.clear-float-end-content {
    height: 50px;
    clear: both;
}

.other-div {
    height: 153px;
    width: 248px;
}

/* right */
.content-wrapper .content-right {
    margin-right: 34px;
    height: 100% ; 
    width: 30%;
    float: right;
    position: relative;
    
}
.col-inner .widget {
    margin-top: 20px;
}
.content-right .col-inner{
    padding-left: 50px;
}

.sidebar-schoolar {
    margin-top: 50px;
}
.sidebar-tittle {
    font-size: initial;
    border-left: solid #0000b5;
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}


.sidebar {
    margin-top: 40px;
}
#sidebar-news{
    width: 300px;
}

#sidebar-news .news {
    color: #000;
    font-family: "Arial", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    text-decoration: none;
}

.form_widget  input.form-input {
    border: 1px solid #777;
    background-color: #EDEDED;
    color: #333333;
    margin-bottom: 10px;
    line-height: 1.3em;
    padding: 9px;
    border-radius: 2px;
    display: inline-block;
    width: 73%;
}

.form_widget  select#select-form {
    display: inline-block;
    min-height: 40px;
    width: 78%;
    font-size: 14px;
    line-height: 1.8;
    padding: 6px 12px;
    vertical-align: middle;
    background-color: transparent;
    color: #333;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.button-submit {
    font-size: 16px;
    font-weight: bold;
    background-color: #edb017;
    color: #0a0a0a;
    width: 78%;
    min-width: 100px;
    max-width: unset;
    height: auto;
    min-height: unset;
    max-height: unset;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    background-image: unset;
    line-height: 1.45em;
    text-align: center;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.friend.co-op {
    clear: both;
}

/* footer */
#footer .footer-container {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #2f319e;
}

#footer .footer-container .footer-list{
    width: 80%;
    margin: 50px 0;
    display: flex;
}

#footer .footer-container .footer-list h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.footer-courses {
    width: 30%;
}

.footer-courses a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 21px;
    padding: 10px 0 10px 6px;
    margin: 10px 0;
}

.footer-courses .logo {
    width: 100%;
    position: relative;
}

.footer-courses .logo a{
    position: absolute;
    color: #fff;
    left: 15%;
}

.footer-courses .logo a:hover {
    text-decoration: underline;
}

.footer-courses .logo img{
    width: 90%;
}

.footer-contact {
    width: 40%;
    padding: 0 30px 0 30px;
}

.footer-contact .footer-contact-info li{
    padding: 15px 0;
    line-height: 40px;
    cursor: pointer;
}

.footer-form {
    width: 30%;
}

.footer-form-list  {
    margin-top: 30px;
}

.footer-form-list li {
    /* background-color: #ededed; */
    padding-right: 15px;
    margin-bottom: 15px;
}

.footer-form-list li input,
.footer-form-list .drop-down {
    padding: 10px 0 10px 10px;
    width: 100%;
    background-color: #ededed;
    border: 1px solid #777771;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.footer-form-list .drop-down {
    width: calc(100% - 15px);
    color: #000;
    font-weight: normal;
    position: relative;
}

.footer-form-list .drop-down i{
    position: absolute;
    right: 15px;
}

.footer-form-list .drop-down .footer-sub-menu{
    display: none;
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    background-color: #ededed;
}

.footer-form-list .drop-down .footer-sub-menu li{
    padding: 5px 8px;
    cursor: pointer;
}

.footer-form-list .drop-down input {
    width: 95%;
    border: 1px solid #17a8e3;
}

.footer-form-list .drop-down:hover .footer-sub-menu{
    display: block;
}

.footer-form-list  .btn{
    width: calc(100% - 5px);
    margin-top: 30px;
}

.footer-form-list  .btn input{
    background-color: #edb017;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
}

.footer-form-list  .btn input:hover{
    cursor: pointer;
    background-color: #008fca;
    color: #fff;
}

.footer-contact .footer-contact-info li,
.footer-form .footer-form-list li {
    list-style: none;
}